body {
  margin: 0;
  font-family: arial;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 55px 30px;
  background: repeating-linear-gradient(45deg, rgb(110, 51, 0), green 25px);
}